.ViewPostWrapper {
  padding: 50px 30px 0;
  height: 100%;
  position: relative;
}
.ViewPostWrapper article {
  width: 390px;
  height: 70px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
}
.ViewPostWrapper .ViewPostContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ViewPostWrapper .ViewPostContent > div {
  display: grid;
  place-items: center;
}
.ViewPostWrapper .ViewPostContent h3 {
  text-align: center;
}
.ViewPostWrapper .ViewPostContent span {
  width: 100%;
}
.ViewPostWrapper .ViewPostContent .ViewPostContentDate {
  border-bottom: 2px dotted var(--main-color);
  color: var(--main-color);
  padding: 10px 0 10px;
}
.ViewPostContent img {
  width: 180px;
}
.ViewPostContentCon p {
  font-size: 18px;
}

/* viewpost 이전 버튼 */
article {
  position: relative;
}
.ViewPostBackBtn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 39px;
  transform: translate(-50%, -50%);
}
.ViewPostBackBtn > button {
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.ViewPostBackBtn span {
  display: block;
  background-color: var(--main-color);
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ViewPostBackBtn::after,
.ViewPostBackBtn::before {
  content: "";
  background-color: var(--main-color);
  width: 20px;
  height: 3px;
  position: absolute;
  top: 38%;
  left: 30%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.ViewPostBackBtn::before {
  top: 62%;
  left: 30%;
  transform: translate(-50%, -50%) rotate(45deg);
}

/* viewpost 수정, 삭제 버튼 */
.ViewPostMenuBtn {
  cursor: pointer;
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 0;
}
.ViewPostMenuBtn span {
  display: block;
  background-color: var(--main-color);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.ViewPostMenuBtn span:nth-child(1) {
  top: 23%;
}
.ViewPostMenuBtn span:nth-child(3) {
  top: 75%;
}

/* viewpost 모달창 */
.viewPostModal {
  background-color: var(--main-color);
  width: 200px;
  height: 150px;
  padding: 3% 50px;
  border-radius: 30px;
  display: grid;
  place-items: center;
  position: absolute;
  top: 60px;
  right: 0;
  box-sizing: border-box;
}
.viewPostModal > button {
  text-indent: -9999px;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.viewPostModal > button::after,
.viewPostModal > button::before {
  content: "";
  background-color: #ddd;
  width: 60%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.viewPostModal > button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

/* viewpost 모달 버튼 */
.viewPostModalBtn {
  display: flex;
  flex-direction: column;
}
.viewPostModalBtn button {
  width: 100%;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ddd;
  border: none;
  padding: 5px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.commentWrapper {
  background-color: var(--bg-color);
  border-top: 2px solid var(--main-color);
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.commentWrapper div {
  width: 390px;
  height: 80px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.commentWrapper div .goCommentBtn {
  background-color: inherit;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(-50%, -50%);
}
/* My */
.mypage {
  padding: 50px 30px 0;
  height: 100%;
}
.mypage .myContent {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px 0;
  box-sizing: border-box;
}
.mypage .myContent h3 {
  width: 85%;
  margin: 15px auto;
  border-bottom: 2px dashed var(--main-color);
  text-indent: 15px;
  padding-bottom: 8px;
}
