/* font */
@font-face {
  font-family: "SKYBORI";
  src: url(../public/fonts/SKYBORI.woff);
}
@font-face {
  font-family: "봉숭아틴트체";
  src: url(../public/fonts/봉숭아틴트체.woff);
}
@font-face {
  font-family: "온글잎의연체";
  src: url(../public/fonts/온글잎의연체.woff);
}

/* common */
:root {
  /* 메인 폰트 컬러 */
  --main-font-color: #222;
  /* 서브 폰트 컬러 */
  --sub-font-color: #666;

  /* 배경 컬러 */
  --bg-color: #fbfbf2;
  /* 메인 컬러 */
  --main-color: #90a955;
}

body {
  font-family: "봉숭아틴트체", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-font-color);
  width: 390px;
  height: 100vh;
  margin: 0 auto;
  /* padding: 0 30px 0; */
  box-sizing: border-box;
  background-color: var(--bg-color);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
form input {
  font-size: 1.2rem;
  width: 60vw;
  border: none;
  border-bottom: 2px solid var(--main-font-color);
  font-family: "봉숭아틴트체";
  padding: 10px 20px 3px 20px;
  margin-bottom: 20px;
  color: var(--main-font-color);
  &:focus {
    outline: none;
  }
}
button {
  font-family: "봉숭아틴트체", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
}
